In [1]:
def func(a, b): 
 return b if a == 0 else func(b % a, a) 
print(func(30, 75))

15

In [2]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22) 
sorted_numbers = sorted(numbers) 
even = lambda a: a % 2 == 0 
even_numbers = filter(even, sorted_numbers) 
print(type(even_numbers))

<class 'filter'>

In [3]:
def my_fun (*args):
    for i in args:
        print(type('my args:-',i))

In [4]:
print

In [5]:
set1 = {14, 3, 55} 
set2 = {82, 49, 62} 
set3={99,22,17} 
print(len('set1' + 'set2' + 'set3'))

12

In [6]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [7]:
captains = { 
"Enterprise": "Picard", 
"Voyager": "Janeway", 
"Defiant": "Sisko", 
}

In [8]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [9]:
for ship, captain in captains.items(): 
 print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [10]:
for ship in captains: 
 print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [11]:
for ship in captains: 
 print(ship, captains)

Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [12]:
captains["Enterprise"] = "Picard" 
captains["Voyager"] = "Janeway" 
captains["Defiant"] = "Sisko"

In [13]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [14]:
for item in captains.items(): 
 print(f"The [ship] is captained by [captain].")

The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].

In [15]:
for ship, captain in captains.items(): 
 print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.

In [16]:
for captain, ship in captains.items(): 
 print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.

In [17]:
captains = { 
"Enterprise": "Picard", 
"Voyager": "Janeway", 
"Defiant": "Sisko", 
"Discovery": "unknown", 
}

In [18]:
del captains["Discovery"]

In [19]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}